.container {
  width: 100%;
  height: 100vh;
  display: flex;
  overflow: hidden;
  background: #5aa321;
}

.sidebar {
  width: 230px;
  background: #1f7b45;

  display: flex;
  flex-direction: column;
  justify-content: space-between;

  padding: 30px 0;
}

.logoPrefeitura {
  display: flex;
  justify-content: center;
}

.logoPrefeitura img {
  width: 180px;
}

.linha {
  width: 160px;
  height: 2px;
  background: rgba(255, 255, 255, 0.7);

  margin: 30px auto;
}

.menu {
  display: flex;
  flex-direction: column;
  gap: 10px;

  padding: 0 18px;
}

.menuBotao,
.menuAtivo {
  height: 40px;
  border: none;
  border-radius: 10px;

  text-align: left;
  padding-left: 18px;

  cursor: pointer;

  font-size: 14px;
  color: white;

  transition: 0.2s;

  box-shadow: 0 3px 8px rgba(0, 0, 0, 0.15);
}

.menuBotao {
  background: #38864f;
}

.menuBotao:hover {
  background: #469960;
}

.menuAtivo {
  background: #f0a62a;
}

.logoSecretaria {
  display: flex;
  flex-direction: column;
  align-items: center;

  text-align: center;

  margin-bottom: 15px;
}

.logoSecretaria img {
  width: 95px;
}

.logoSecretaria h2 {
  color: #ffd63f;
  font-size: 24px;
  font-weight: 700;

  line-height: 1.15;

  margin-top: 10px;
}

.content {
  flex: 1;
  background: #dde6db;
  display: flex;
  flex-direction: column;
}

.header {
  height: 78px;
  background: #238046;

  display: flex;
  justify-content: space-between;
  align-items: center;

  padding: 0 22px;
}

.headerLogo {
  display: flex;
  align-items: center;
  gap: 10px;
}

.headerLogo img {
  width: 55px;
}

.headerLogo span {
  color: white;
  font-size: 13px;
  font-weight: 600;
}

.headerLogo h1 {
  color: white;
  font-size: 24px;
  line-height: 1;
}

.topMenu {
  display: flex;
  gap: 25px;
}

.topMenu button {
  background: transparent;
  border: none;

  color: white;
  cursor: pointer;

  font-size: 13px;
}

.mapaArea {
  flex: 1;
  position: relative;
  background: #d8e0dc;
}

.linhaVertical {
  position: absolute;
  left: 35%;
  top: 15%;

  width: 5px;
  height: 68%;

  background: #bdbdbd;
}

.linhaHorizontal {
  position: absolute;
  left: 0;
  top: 44%;

  width: 70%;
  height: 5px;

  background: #bdbdbd;
}

.pontoVerde {
  position: absolute;

  width: 18px;
  height: 18px;

  background: #2f8d3e;
  border-radius: 50%;

  left: 44%;
  top: 33%;
}

.pontoLaranja {
  position: absolute;

  width: 18px;
  height: 18px;

  background: #ef9446;
  border-radius: 50%;

  left: 53%;
  top: 65%;
}

.cardProblema {
  position: absolute;

  left: 80px;
  top: 270px;

  width: 260px;

  background: #f3f3f3;

  border-radius: 12px;
  padding: 15px;

  box-shadow: 0 2px 8px rgba(0, 0, 0, .15);
}

.cardProblema h3 {
  font-size: 15px;
  margin-bottom: 8px;
}

.cardProblema h4 {
  font-size: 14px;
  margin-bottom: 10px;
  font-weight: 500;
}

.cardProblema p {
  font-size: 12px;
  color: #444;
}

.cardBotoes {
  display: flex;
  gap: 10px;
  margin-top: 15px;
}

.vaiPassar,
.jaPassou {
  flex: 1;
  height: 34px;

  border: none;
  border-radius: 8px;

  color: white;
  cursor: pointer;

  box-shadow: 0 2px 5px rgba(0, 0, 0, .15);
}

.vaiPassar {
  background: #efb43c;
}

.jaPassou {
  background: #55b652;
}

.tarefas {
  position: absolute;

  right: 20px;
  top: 95px;

  width: 250px;
  height: 420px;

  background: #efefef;

  border-radius: 18px;

  padding: 18px;

  display: flex;
  flex-direction: column;

  box-shadow: 0 4px 12px rgba(0,0,0,.15);
}

.tarefas h2 {
  text-align: center;

  color: #3f7457;

  font-weight: 600;

  margin-bottom: 15px;
}

.tarefa {
  background: white;

  border-radius: 10px;

  padding: 12px;

  margin-bottom: 12px;

  box-shadow: 0 2px 5px rgba(0, 0, 0, .12);
}

.tarefa strong {
  display: block;

  margin-bottom: 4px;

  font-size: 14px;
}

.tarefa p {
  font-size: 13px;
  color: #444;
}

.enviarRelatorio {
  margin-top: auto;

  height: 42px;

  border: none;
  border-radius: 10px;

  background: #f36f07;

  color: white;

  font-size: 18px;
  font-weight: 600;

  cursor: pointer;

  box-shadow: 0 2px 6px rgba(0, 0, 0, .2);
}

.enviarRelatorio:hover {
  background: #dc6200;
}