.sucesso-container {
  min-height: 100vh;
  background: #dfe8d4;
  display: flex;
  justify-content: center;
  align-items: center;
}

.sucesso-card {
  background: white;
  width: 500px;
  padding: 40px;
  border-radius: 20px;
  text-align: center;
  box-shadow: 0 6px 20px rgba(0,0,0,0.2);
}

.icone {
  font-size: 80px;
  margin-bottom: 20px;
}

.sucesso-card h1 {
  color: #1f6b3a;
  margin-bottom: 15px;
}

.sucesso-card p {
  color: #555;
  margin-bottom: 25px;
}

.protocolo-box,
.status-box {
  background: #f4f4f4;
  padding: 15px;
  border-radius: 10px;
  margin-bottom: 15px;
  display: flex;
  justify-content: space-between;
}

.botoes {
  display: flex;
  gap: 15px;
  margin-top: 25px;
}

.botoes button {
  flex: 1;
  padding: 12px;
  border: none;
  border-radius: 10px;
  cursor: pointer;
  background: #f57c00;
  color: white;
  font-weight: bold;
}

.btn-secundario {
  background: #2e7d32;
}