.cadastro-page {
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: column;
}

/* TOPO */

.topo {

  width: 100%;
  background:#2f6f3e;
  padding: 3px 0;

  display: flex;
  justify-content: space-between;
  align-items: center;
}

.topo-esquerda {
  display: flex;
  align-items: center;
  gap: 10px;

}
/* LOGOS */
.header-logos {
  display: flex;
  align-items: center;
}

.logo {
  display: flex;
  align-items: center;
  gap: 0;
  font-weight: 500;
}

.logo-img {
  width: 250px;
  height: auto;
  display: block;

  margin-left: 65px;
}

.logos {
  width: 220px;
  height: auto;
  display: block;

  /* aproxima da logo da prefeitura */
  margin-left: 230px;

  /* ajuste fino vertical */
  margin-top: 2px;
}

.btn-voltar {
  background-color: #fdd835;
  border: none;
  padding: 8px 18px;
  border-radius: 8px;
  font-weight: bold;
  cursor: pointer;
}

/* CONTEÚDO */

.conteudo {
  display: flex;
  flex: 1;
}

/* LATERAL */

.lateral {
  width: 240px;
  background: #2f6f3e;

  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;

  padding: 20px;

}
.linha-grande {
  width: calc(100% + 40px);
  height: 2px;

  background: rgba(255, 255, 255, 0.9);

  margin: 20px 0 0;

  margin-left: -20px;

  box-shadow: 0 0 3px rgba(255,255,255,0.3);
}

.linha-pequena {
  width: calc(100% + 40px);
  height: 2px;

  background: rgba(255, 255, 255, 0.5);

  margin-left: 0px;
  margin-bottom: 25px;
}


/* CENTRO */

.centro {
  flex: 1;
  background-color: #e0e0e0;

  display: flex;
  justify-content: center;
  align-items: center;
}

/* CARD */

.card {
  background-color: #eeeeee;

  padding: 30px;

  border-radius: 12px;

  box-shadow: 0px 4px 10px rgba(0,0,0,0.2);

  width: 700px;
}

.card h2 {
  color: #2e7d32;
  text-align: center;
}

.sub {
  text-align: center;
  color: #f1f1f1;
  margin-bottom: 25px;
}

/* FORM */

.form-area {
  display: flex;
  gap: 30px;
}

.inputs {
  display: flex;
  flex-direction: column;
  gap: 12px;
}

.inputs input {
  padding: 12px;

  border-radius: 8px;

  border: none;

  box-shadow: 0px 2px 4px rgba(0,0,0,0.2);

  width: 300px;
}

.senha {
  display: flex;
  gap: 10px;
}

.btn-cadastrar {
  background-color: #43a047;

  color: white;

  border: none;

  padding: 10px;

  border-radius: 8px;

  width: 150px;

  margin-top: 10px;

  cursor: pointer;
}

/* IMAGEM */

.imagem img {
  width: 450px;
  position: absolute;
  top: 21rem;
  left: 64rem;
}