* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.containerHome {
  width: 100%;
  min-height: 100vh;
  background: #dbe7cd;
  display: flex;
  flex-direction: column;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  overflow-x: hidden;
  overflow-y: auto;
}

/* HEADER */

.headerHome {
  width: 100%;
  height: 78px;

  background: #196f3d;
  border-bottom: 4px solid #2f8f58;

  display: flex;
  justify-content: space-between;
  align-items: center;

  padding: 0 30px;
}

.logoArea {
  display: flex;
  align-items: center;
  gap: 10px;
}

.logoArea img {
  width: 75px;
  height: 75px;
  object-fit: contain;
}

.logoArea p {
  color: white;
  font-size: 12px;
  font-weight: 600;
}

.logoArea h2 {
  color: white;
  font-size: 24px;
  font-weight: bold;
}

.menuIcon {
  background: none;
  border: none;
  color: white;
  font-size: 30px;
  cursor: pointer;
}

/* MENU */

.menuLateral {
  position: fixed;
  top: 0;
  right: -320px;

  width: 280px;
  height: 100vh;

  background: #196f3d;

  padding: 20px 15px;

  display: flex;
  flex-direction: column;
  gap: 10px;

  transition: all 0.35s ease;

  z-index: 999;
  box-shadow: -10px 0 25px rgba(0, 0, 0, 0.35);
}

.menuAberto {
  right: 0;
}

.topoMenu {
  display: flex;
  justify-content: flex-end;
}

.btnFechar {
  background: none;
  border: none;
  color: white;
  font-size: 22px;
  cursor: pointer;
}

.menuItem {
  width: 100%;
  border: none;
  background: #2c7a4c;

  color: white;
  padding: 14px;

  border-radius: 10px;

  text-align: left;

  font-size: 15px;
  font-weight: 500;

  cursor: pointer;

  transition: 0.2s;
}

.menuItem:hover {
  background: #35945d;
  transform: translateX(-4px);
}

.menuAtivo {
  background: #f0a529;
}

.menuFooter {
  margin-top: auto;

  display: flex;
  flex-direction: column;
  align-items: center;

  padding-top: 20px;

  border-top: 1px solid rgba(255, 255, 255, 0.2);
}

.menuFooter img {
  width: 70px;
  margin-bottom: 10px;
}

.menuFooter h3 {
  color: #f4d03f;
  text-align: center;
  font-size: 22px;
  line-height: 1.1;
}

/* BANNER */

.banner {
  width: 100%;
  height: 320px;

  background-size: cover;
  background-position: center;

  display: flex;
  justify-content: center;
  align-items: center;

  position: relative;
}

.overlayBanner {
  text-align: center;
}

.overlayBanner h1 {
  font-size: 60px;
  color: #2f6f52;
  font-weight: 800;

  text-shadow:
    0 2px 0 rgba(0, 0, 0, 0.438),
    0 5px 12px rgba(0, 0, 0, 0.25);
}

.overlayBanner p {
  color: #4f6f61;
  font-size: 26px;
  margin-top: 10px;
}

/* CARDS */

.cardsContainer {
  width: 100%;

  display: flex;
  justify-content: center;
  gap: 30px;

  padding: 40px 30px 70px;
  flex-wrap: wrap;
}

.card {
  width: 320px;
  min-height: 340px;

  border-radius: 18px;

  padding: 25px;

  color: white;

  display: flex;
  flex-direction: column;
  align-items: center;

  box-shadow:
    0 8px 18px rgba(0, 0, 0, 0.25),
    inset 0 -5px 0 rgba(0, 0, 0, 0.18);
}

.cardIcon {
  font-size: 55px;
  margin-bottom: 10px;
}

.card h2 {
  text-align: center;
  margin-bottom: 20px;
  font-size: 24px;
}

.card p {
  text-align: center;
  font-size: 15px;
  line-height: 1.6;
}

.card button {
  margin-top: auto;

  border: none;

  background: #f5c242;
  color: #333;

  padding: 12px 20px;

  border-radius: 10px;

  font-weight: bold;
  cursor: pointer;

  transition: 0.2s;
}

.card button:hover {
  transform: scale(1.03);
}

.cardAzul {
  background: linear-gradient(to bottom, #2c7be0, #1f5fb1);
}

.cardVerde {
  background: linear-gradient(to bottom, #42b94f, #2f8f3b);
}

.cardLaranja {
  background: linear-gradient(to bottom, #ff8d1c, #db6d00);
}

/* FOOTER */

.footerHome {
  width: 100%;
  height: 40px;
  background: #196f3d;
  margin-top: auto;
}

